.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h2 {
  text-align: center;
  flex-grow: 1;
}

.nav-pills {
  text-align: right;
}

.nav-item {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  
  h2 {
    text-align: left;
  }
  
  .nav-pills {
    text-align: left;
  }
}
